@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  background: #474bff;
  background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  min-height: 100vh; 
}
